@page "/career"
<PageTitle>Career</PageTitle>

<section style="background-color: #F0F2F5;">
    <div class="container py-5">
        <div class="main-timeline-2">
            <div class="timeline-2 left-2">
                <div class="card">
                    <img src="/asset/logo-square.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Software Engineer Development</h4>
                        <h5>Link Technologies Tasmania</h5>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> April 2022 - Present
                        </p>
                        <p class="mb-0">
                        <ul>
                            <li>
                                Designing architecture solutions, developing functions and integration features by C#,
                                VBSCript, Javascript, COM API, REST API, Python and SQL for M-Files Applications to
                                enhance business workflows
                            </li>
                            <li>Implementing appropriate solutions by Microsoft Power BI, Power Automate, Power Apps,
                                Microsoft SQL to meet business needs</li>
                            <li>Analyzing system databases, delivering comprehensive solutions including data
                                management, reporting system</li>
                            <li>Communicating with clients to gather information, identifying problems, preparing use
                                cases and delivering solutions using agile methodology to enhance business environment
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="/asset/hypestudio.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Web Developer</h4>
                        <h5>Hypes Studio</h5>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2021-2022</p>
                        <p class="mb-0">
                        <ul>
                            <li>Implemented PHP, HTML5, Bootstrap, JavaScript, CSS to edit and improve the mega menu
                            </li>
                            <li>Tranfered XML, API, CSV data to display required attributes and applied CRON to update
                                prices</li>
                            <li>Analyzed the findcheap website and suggested improvements</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card">
                    <img src="/asset/qiba.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">The ACS Professional Year Program - ICT</h4>
                        <h5>QIBA</h5>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2019 - 2022</p>
                        <p class="mb-0">The Professional Year Program is a work readiness program designed to prepare
                            university graduates for the professional ICT workforce. Topics include business
                            communication, workplace relations and practices, WH&S, professional networking, report
                            writing and effective presentation skills.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="/asset/utas.png" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Master of Information Communication Technoglogy</h4>
                        <h5>University of Tasmania</h5>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2019 - 2020</p>
                        <p class="mb-0">Key Subjects: Information System Analysis, Data Management System, Intermediate
                            Programming for Business Application, Web Development, eBusiness, Software Application
                            Design and Implementation, Data Management Technology, Mobile Application Development,
                            Artificial Intelligence
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card">
                    <img src="/asset/sdsu.webp" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Bachelor of Business Administration</h4>
                        <h4>Finance major and MIS minor</h4>
                        <h5>San Diego State University</h5>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2014-2018</p>
                        <p class="mb-0">Key Subjects: Financial Analysis and Management, Intermediate Finance,
                            Managerial Economics, eBusiness, Intermediate Programming for Business, Information System
                            Analysis, Business Application Programming, Data Management System, Web Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<Modal @ref="modal" title="Modal title" IsVerticallyCentered="true" IsScrollable="true">
    <BodyTemplate>
        <p style="margin-bottom: 100vh;">This is some placeholder content to show the scrolling behavior for modals.
            Instead of repeating the text the modal, we use an inline style set a minimum height, thereby extending the
            length of the overall modal and demonstrating the overflow scrolling. When content becomes longer than the
            height of the viewport, scrolling will move the modal as needed.</p>
        <p>This content should appear at the bottom after you scroll.</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary">Save changes</Button>
    </FooterTemplate>
</Modal>

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">scrollable modal</Button>

@code {
    private Modal modal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
}