@page "/"

<PageTitle>About</PageTitle>

<div class="containter">
    <div class="row">
        <div class="col">
            <h1>HUY THAI</h1>
            I graduated with a Business Administrator of Finance bachelor, minoring in Management Information Systems in
            San
            Diego State University, California, and a Master of Information Communication Technology (ICT) in the
            University
            of
            Tasmania. I am friendly, detail-oriented, and hard-working.

            My hobbies are photography and playing sports. I am interested in and excel in playing badminton. I like
            traveling
            and taking landscape photos.

            I am seeking a position in the Information Technology field. I am interested in Software Engineer, Web
            Development,
            and Networking. I am seeking a role to utilize my skills and contribute to the development of an
            organization.
            Having a Bachelor of Finance and with my ICT knowledge will contribute to my analytical abilities to support
            business needs. I can bring great value and dedication to the role to achieve organisational objectives.
        </div>
        <div class="col">
            <img src="/asset/profilepic.png" alt=" Profile Picture of Huy Thai" style="width: 949px; height:873px"
                />
        </div>
    </div>
</div>