@page "/timeline"


<div class="container py-4">

    <!-- timeline item 1 -->
    <div class="row no-gutters">
        <div class="col-sm"> <!--spacer-->
            <div class="card border-success shadow">
                <img src="/asset/logo-square.jpg" class="card-img-top" alt="Responsive image">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Software Engineer Development</h4>
                    <h5>Link Technologies Tasmania</h5>                   
                    <p class="mb-0">
                        <ul>
                            <li>
                                Designing architecture solutions, developing functions and integration features by C#,
                                VBSCript, Javascript, COM API, REST API, Python and SQL for M-Files Applications to
                                enhance business workflows
                            </li>
                            <li>
                                Implementing appropriate solutions by Microsoft Power BI, Power Automate, Power Apps,
                                Microsoft SQL to meet business needs
                            </li>
                            <li>
                                Analyzing system databases, delivering comprehensive solutions including data
                                management, reporting system
                            </li>
                            <li>
                                Communicating with clients to gather information, identifying problems, preparing use
                                cases and delivering solutions using agile methodology to enhance business environment
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
        <!-- timeline item 1 center dot -->
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge rounded-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2 extra-info">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">April 2022 - Present</h5>
                    <p class="card-text">
                        <h4>Achievement</h4>
                    <ul>
                        <li>
                            Developing a Homeless Support form demo website for a <a href="https://demo.linktechtas.com.au/" target="_blank">Launceston Council project</a>
                        </li>
                        <li>
                            Enhenced business flow efficiency by 80% of AP process through an automating and integrating
                            process
                        </li>
                        <li>
                            Software Engineer Lead for redesigning M-Files system of 75-year-experience Consulting
                            Engineer Enterprise which serves for nine departments
                        </li>
                        <li>
                            Improved information search capabilities with Power BI reports, enabling fitlering based on required
                            criteria across various aspects
                        </li>
                        <li>M-Files Development Certificate, M-Files Engineer Certificate</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- timeline item 3 -->
    <div class="row no-gutters">
        <div class="col-sm"> <!--spacer--> </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge rounded-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <img src="/asset/hypestudio.jpg" class="card-img-top" alt="Responsive image">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Web Developer</h4>
                    <h5>Hypes Studio</h5>
                    <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2021-2022</p>
                    <p class="mb-0">
                        <ul>
                            <li>
                                Implemented PHP, HTML5, Bootstrap, JavaScript, CSS to edit and improve the mega menu
                            </li>
                            <li>
                                Tranfered XML, API, CSV data to display required attributes and applied CRON to update
                                prices
                            </li>
                            <li>Analyzed the findcheap website and suggested improvements</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 3 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card">
                <img src="/asset/qiba.jpg" class="card-img-top" alt="Responsive image">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">The ACS Professional Year Program - ICT</h4>
                    <h5>QIBA</h5>
                    <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2019 - 2022</p>
                    <p class="mb-0">
                        The Professional Year Program is a work readiness program designed to prepare
                        university graduates for the professional ICT workforce. Topics include business
                        communication, workplace relations and practices, WH&S, professional networking, report
                        writing and effective presentation skills.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge rounded-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm"> <!--spacer--> </div>
    </div>
    <!--/row-->
    <!-- timeline item 4 -->
    <div class="row no-gutters">
        <div class="col-sm"> <!--spacer--> </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge rounded-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <img src="/asset/utas.png" class="card-img-top" alt="Responsive image">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Master of Information Communication Technoglogy</h4>
                    <h5>University of Tasmania</h5>
                    <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2019 - 2020</p>
                    <p class="mb-0">
                        Key Subjects: Information System Analysis, Data Management System, Intermediate
                        Programming for Business Application, Web Development, eBusiness, Software Application
                        Design and Implementation, Data Management Technology, Mobile Application Development,
                        Artificial Intelligence
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 5 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card">
                <img src="/asset/sdsu.webp" class="card-img-top" alt="Responsive image">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Bachelor of Business Administration</h4>
                    <h4>Finance major and MIS minor</h4>
                    <h5>San Diego State University</h5>
                    <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2014-2018</p>
                    <p class="mb-0">
                        Key Subjects: Financial Analysis and Management, Intermediate Finance,
                        Managerial Economics, eBusiness, Intermediate Programming for Business, Information System
                        Analysis, Business Application Programming, Data Management System, Web Development
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge rounded-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-end">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm"> <!--spacer--> </div>
    </div>
    <!--/row-->

</div>

@code {

}
